@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.bg-first {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
}

.bg-image {
  background-image: url("./assets/27484775_wallpaper_27-removebg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 55%;
}

.project:hover.project > figcaption {
  opacity: 1;
}
.project:hover.project > figure {
  transform: scale(1.25);
  transition: transform 0.3s ease-out;
}

.animation-gradient {
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
