@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

* {
  font-family: "Fjalla One", sans-serif;
  font-style: normal;
}

.btn-starter {
  background: linear-gradient(-160deg, #4b3eff 0, #22b1ff 99%);
  border-radius: 3px;
}

.bg-starter {
  background-image: linear-gradient(
    -160deg,
    rgba(75, 62, 255, 0.3) 0,
    rgba(34, 177, 255, 0.3) 99%
  );
}

.collapse-plus > .collapse-title::after {
  display: flex;
  height: 1.85rem;
  width: 1.85rem;
  border-radius: 3px;
  padding: 0px;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(-160deg, #4b3eff 0, #22b1ff 99%);
  color: white;
}

.card::after,
.card::before {
  content: "";
  width: 115px;
  height: 115px;
  position: absolute;
  border-radius: 100%;
  -webkit-transition: 0.5s cubic-bezier(0.24, 0.74, 0.58, 1);
  transition: 0.5s cubic-bezier(0.24, 0.74, 0.58, 1);
}
.card::before {
  top: -20px;
  right: -10px;
  background-color: #131b2b;
}
.card::after {
  top: -9px;
  right: -45px;
  background-color: #1f2736;
}

.package-icon > div > svg {
  color: #2e92ff;
}

.project:hover.project > figcaption {
  opacity: 1;
}
.project:hover.project > figure {
  transform: scale(1.25);
  transition: transform 0.3s ease-out;
}

.animation-gradient {
  animation: gradient 15s ease infinite;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide > img {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: black;
}
